<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<h1>Hangman</h1>
	<p><%= "Your word is #{$secret_word}" %></p>
	<p><%= "Your turn is #{$turn}" %></p>
	<p><%= "#{$hidden_word}" %></p>
	<p><%= "Remaining letters is #{$remainingletters}" %></p>
	<p><%= "Your guesses is #{$guessed.join(" ")}" %></p>
	<p><%= "Your dictionary is #{$file}" %></p>

	<form method="POST" action="/">
	Guess: <input type="text" name="guess" autofocus pattern="[A-Za-z]{1}" title="enter a single letter" size="1">	
	<input type="submit" value="submit" id="submit">
	<p><%= $message %></p>

	<a id="link" href="/dictionaries" name="dictionaries">Dictionaries</a>

</form>
</body>
</html>